@media (min-width: 320px) {
  .info {
    margin-bottom: 8px;
    padding: 8px 0;
    text-align: center;
    font-size: $small-mob-size;
    font-weight: 300;
    line-height: 15px;
    color: $color-white-base;
    background: $color-black-base;
  }
}
@media (min-width: 768px) {
  .info {
    margin-bottom: 0;
    padding: 10px 0;
    font-size: $basic-small-size;
    line-height: 18px;
  }
}
