@media (min-width: 320px) {
    .s-slider {
        text-align: center;

        &__title {
            padding: 57px 0 15px;
        }

        &__link{
            color: $color-black-base;
        }

        &__info{
            width: 75%;
            padding: 25px 0 60px;
            margin: 0 auto;
            font-size: $basic-small-size;
            font-weight: 300;

            span{
                display: block;
            }
        }
    }
}

@media(min-width: 768px) {
    .s-slider {
        position: relative;

        &__left-arrow,
        &__right-arrow{
            position: absolute;
            top: 50%;
            width: 24px;
            height: 1px;
            border-bottom: 1px solid $color-brandbook;
            z-index: 999;

            &:after{
                content: '';
                position: absolute;
                top: -1px;
                width: 5px;
                height: 5px;
                border-bottom: 1px solid $color-brandbook;
            }
        }

        &__left-arrow{
            left: 5%;
            
            &:after{
                left: 0;
                border-left: 1px solid $color-brandbook;
                transform: rotate(45deg);
            }
        }

        &__right-arrow{
            right:5%;

            &:after{
                right: 0;
                border-right: 1px solid $color-brandbook;
                transform: rotate(-45deg);
            }
        }

        &__item{
            padding: 5px;
        }

        &__box {
            width: 80%;
            margin: 0 auto;
        }
    }
}

@media(min-width: 992px) {
    .s-slider {
        &__left-arrow{
            left: 2%;
        }
        &__right-arrow{
            right:2%;
        }

        &__box {
            width: 100%;
        }

        &__info{
            display: flex;
            justify-content: center;
            font-size: $medium-size;

            span {
                margin-right: 10px;
            }
        }
    }

}